@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --up: 1;
  --card-shadow: rgba(46, 49, 52, 0.4);
  --color-white: #fff;
  --color-lightgrey: #ccc;
  --color-ui: #999;
  --color-ui-hover: #666;
  --cardWidth: calc(100vw / var(--up));
  --carouselWidth: calc(var(--cardWidth) * var(--num));
}

.main {
  position: relative;

  .mainVisual {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;

    .items {
      display: flex;
      flex-wrap: wrap;
      width: var(--carouselWidth);
      padding: 0;

      &.prev {
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
        animation-name: prev;
      }

      &.next {
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
        animation-name: next;
      }

      .item {
        position: relative;
        width: calc(var(--cardWidth));
        height: 580px;
        overflow: hidden;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: auto;
          transform: translate(-50%, -50%);
          object-fit: cover;
        }
      }
    }

    .visualUi {
      position: absolute;
      top: 50%;
      display: flex;
      justify-content: space-between;
      width: 100%;
      transform: translateY(-50%);
      padding: 12px;
      z-index: 100;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: var(--color-ui);
        border-radius: 50%;
        color: var(--color-white);
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
        border: 0;
        transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        cursor: pointer;

        &:hover {
          background: var(--color-ui-hover);
        }

        &:focus {
          outline: none;
          border: 1px solid rgba(255, 255, 255, 1);
        }
      }
    }
  }

  .mainList {
    position: relative;
    width: 100%;
    max-width: 1180px;
    margin: 80px auto 120px;

    .title {
      margin-bottom: 20px;
      font-size: 42px;
      line-height: 1.4em;
      font-weight: 700;
      color: #333;
    }

    .listInner {
      display: flex;
      width: 100%;

      li {
        position: relative;
        width: 25%;
        padding: 0 15px;
        text-align: center;

        .thumb {
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          overflow: hidden;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            height: 100%;
            transform: translate(-50%, -50%);
            transition: all 0.4s ease-in-out;
            object-fit: cover;

            &:hover {
              transform: scale(1.02) translate(-50%, -50%);
            }
          }
        }

        .tit {
          width: 100%;
          margin-bottom: 3px;
          font-size: 18px;
          line-height: 1.3em;
          color: #333;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .tag {
          font-size: 14px;
          line-height: 1.3em;
          color: #8f8f8f;
        }

        .price {
          margin-top: 20px;
          font-size: 16px;
          line-height: 1.3em;
          color: #333;
        }
      }
    }
  }

  .mainEvent {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto 120px;

    .campaign {
      position: relative;
      width: 43.57%;
      height: 559px;

      .title {
        position: absolute;
        top: 22px;
        left: 22px;
        z-index: 2;

        span {
          display: inline-block;
          margin-bottom: 5px;
          font-size: 16px;
          line-height: 1.4em;
          color: #fff;
        }

        h2 {
          font-size: 32px;
          line-height: 1.5em;
          font-weight: 700;
          color: #fff;
        }
      }

      .pic {
        position: relative;
        width: 100%;
        height: 559px;
        overflow: hidden;

        img {
          position: absolute;
          top: 50%;
          left: 0;
          width: auto;
          height: 100%;
          transform: translateY(-50%);
          object-fit: cover;
        }
      }
    }

    .eventBox {
      width: 56.43%;

      .fragrance {
        position: relative;
        width: 100%;
        height: 280px;

        .title {
          position: absolute;
          top: 22px;
          left: 22px;
          z-index: 2;

          span {
            display: inline-block;
            margin-bottom: 5px;
            font-size: 16px;
            line-height: 1.4em;
            color: #fff;
          }

          h2 {
            font-size: 32px;
            line-height: 1.5em;
            font-weight: 700;
            color: #fff;
          }
        }

        .video {
          position: relative;
          width: 100%;
          height: 280px;
          overflow: hidden;

          video {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            object-fit: cover;
          }
        }
      }

      .eventBoxList {
        display: flex;
        width: 100%;
        line-height: 0;
        list-style: none;

        li {
          position: relative;
          width: 50%;
          height: 279px;

          .title {
            position: absolute;
            top: 22px;
            left: 22px;
            z-index: 2;

            span {
              display: inline-block;
              margin-bottom: 5px;
              font-size: 16px;
              line-height: 1.4em;
              color: #fff;
            }

            h2 {
              font-size: 32px;
              line-height: 1.5em;
              font-weight: 700;
              color: #fff;
            }
          }

          .pic {
            position: relative;
            width: 100%;
            height: 279px;
            overflow: hidden;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 100%;
              height: 100%;
              transform: translate(-50%, -50%);
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  .mainMassage {
    position: relative;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto 120px;

    .innerBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-right: 100px;
      padding-left: 300px;

      .video {
        position: relative;
        order: 2;
        flex: 1 1 380px;
        width: 380px;
        height: 489px;
        overflow: hidden;

        video {
          position: absolute;
          top: 0;
          left: 50%;
          width: auto;
          height: 100%;
          transform: translateX(-50%);
          object-fit: cover;
        }
      }

      .txt {
        flex: 1 auto;
        width: 350px;
        padding-right: 30px;

        dt {
          margin-bottom: 20px;
          font-size: 42px;
          line-height: 1.3em;
          font-weight: 700;
          color: #000;
        }

        dd {
          font-size: 16px;
          line-height: 26px;
          color: #333;
        }
      }
    }
  }
}

@keyframes next {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(0px + var(--cardWidth)));
  }
}

@keyframes prev {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(0px - var(--cardWidth)));
  }
}
