.subVisual {
  position: relative;
  width: 100%;
  height: 500px;
  background: #8f8f8f;

  .img {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 1920px;
      height: 100%;
      margin-left: -960px;
    }
  }

  .svTitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .innerText {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-align: center;

      h2 {
        font-size: 68px;
        line-height: 1.5em;
        letter-spacing: 0.5em;
        font-weight: 700;
        color: #fff;
      }

      p {
        font-size: 26px;
        line-height: 1.5em;
        letter-spacing: 0.2em;
        color: #fff;
      }
    }
  }
}

.subContent {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;

  .subTitle {
    position: relative;
    margin: 77px 0 22px;
    border-bottom: 2px solid #000;

    h3 {
      font-size: 30px;
      line-height: 1.4em;
      color: #333;
    }

    .sort {
      position: absolute;
      top: 0;
      right: 0;
      width: 110px;

      select {
        width: 100%;
        height: 32px;
        padding: 0 5px;
        border: 1px solid #ddd;
        font-size: 14px;
        line-height: 30px;
        color: #333;
      }
    }
  }

  .subMenu {
    position: relative;
    margin-bottom: 30px;

    ul {
      display: flex;

      li {
        padding: 0 16px;

        &:first-child {
          padding-left: 0;
        }

        p {
          font-size: 14px;
          line-height: 1.4em;
          color: #8f8f8f;
          text-decoration: none;

          span {
            display: inline-block;
            padding-left: 8px;
          }
        }
      }
    }
  }
}
