.totalCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;

  .countBox {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 35px;
    margin-left: -35%;
    border: 1px solid #000;

    .countBtn {
      width: 38px;
      border: 0;
      background: none;
    }

    .countNum {
      width: 44px;
      text-align: center;
      border: none;
      outline: none;
    }
  }

  .prPrice {
    width: 120px;
    margin-right: -20px;
    font-size: 18px;
  }
}
